.vscode/**
.vscode-test/**

.gitignore
.gitmodules
.git/**

*.md
!README.md
!CHANGELOG.md

**/sample/**
**/README.md
**/README.zh-CN.md
syntaxes/bird-tm-grammar/LICENSE.*

node_modules/**
.npm/**
*.vsix
package-lock.json
*.lock
pnpm-lock.*

*.tmp
*.temp
.DS_Store
Thumbs.db

*.swp
*.swo
*~