.vscode/**
.vscode-test/**

.gitignore
.gitmodules
.git/**
.github/**

*.md
!README.md
!CHANGELOG.md

syntaxes/bird-tm-grammar/**
!syntaxes/bird-tm-grammar/LICENSE.syntax
!syntaxes/bird-tm-grammar/README.md
!syntaxes/bird-tm-grammar/grammars/bird2.tmLanguage.json

scripts/**

.gitmodules

node_modules/**
.npm/**
*.vsix
package-lock.json
*.lock
pnpm-lock.*

*.tmp
*.temp
.DS_Store
Thumbs.db

*.swp
*.swo
*~